<div id="motdit-form" ng-controller="EditMotditCtrl" class="ng-cloak" ng-cloak>

  <h3 class="faded">Commencez par choisir la categorie de ce que vous souhaitez partager</h3>

  <div class="select colored">
    <select name="category" ng-model="category" ng-options="c.name for c in categories"></select>
    <i class="icon icon-angle-down"></i>
  </div>

  <h3 class="faded">Entrez maintenant le titre du mot-dit pour lequel vous voulez partager un avis<br />ou un photo</h3>

  <input type="text">

  <h3>Selectionnez le ou les filtres correspondant au mot-dit</h3>

  <div class="select">
    <select>
      <option>Here is the first option</option>
      <option>The second option</option>
    </select>
    <i class="icon icon-angle-down"></i>
  </div>

  <hr>

  <h2>
    Champs Optionnels <br />
    <span class="smaller">(mais recommandes)</span>
  </h2>

  <h3>Indiquez l'adresse exacte du mot-dit</h3>

  <input type="text" placeholder="Adresse">

  <h3>Entrez l'url du site-web du mot-dit</h3>

  <input type="text" placeholder="Site-web">

  <hr>

  <h3>
    <i class="icon icon-pencil"></i>
    Donnez votre avis sur le mot-dit
  </h3>

  <textarea placeholder="J'ai beaucoup aime car..."></textarea>

  <h3>
    <i class="icon icon-tag"></i>
    Entrez quelques mots-cles (tags) associes au mot-dit
  </h3>

  <input type="text" placeholder="Ex. poutine, drole, sport, etc">

  <div class="suggestions">
    Suggestions:
      <span class="suggestion">+ Musique</span>
      <span class="suggestion">+ Indie Rock</span>
      <span class="suggestion">+ Weekend</span>
  </div>

  <h3>
    <i class="icon icon-camera"></i>
    Optionel: Ajoutez une photo a partir de...
  </h3>


  <img ng-src="{{image_url}}"/> 

  <table class="photo-options">
    <tr>
      <td>
        <button id="photo-local">Ordinateur</button>
        <input type="file" accept="image/*" image="image" onchange="angular.element(this).scope().preload_image(this)" ng-model="image">
      </td>
      <td><button id="photo-facebook" disabled>Facebook</button></td>
      <td><button id="photo-instagram" disabled>Instagram</button></td>
    </tr>
  </table>

  <div class="submit">
    <input type="submit" value="Publier">
  </div>


</div>
