{% verbatim %}
  <section class="modal semantic-content" id="photo-modal" tabindex="-1">
      <div class="modal-inner">
        <header><h2 id="modal-label">Ajouter un photo</h2></header>
        <div class="modal-content">

            <img ng-src="{{ form.photo }}">

            <table class="photo-options">
              <tr>
                <td>
                  <button id="photo-local">Ordinateur</button>
                  <input type="file" accept="image/*" image="image" onchange="angular.element(this).scope().preload_image(this)" ng-model="image">
                </td>
                <td><button id="photo-facebook" disabled>Facebook</button></td>
                <td><button id="photo-instagram" disabled>Instagram</button></td>
              </tr>
            </table>
            <div class="submit">
              <input type="submit" value="Publier" ng-click="submit_form()"> <!-- ng-disabled="{{ submit_disabled }}" -->
            </div>
        </div>
      </div>
      <a class="modal-close" title="Close this modal" data-dismiss="modal" ng-click="closeModal()">&times;</a>
  </section>
{% endverbatim %}
