{% load angularjs %}
<!DOCTYPE html>
<html lang="en" ng-app>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/assets/css/pure.min.css" rel="stylesheet" media="screen">
    <link href="/assets/css/motsdits.css" rel="stylesheet" media="screen">

  </head>
  <body>

    <div class="container">
      
      {% block content %}{% endblock %}

    </div> <!-- /content -->

    <!-- Third party libraries -->
    <script src="/assets/js/thirdparty/angular.min.js"></script>

    {% block controllers %}{% endblock %}

  </body>
</html>
