<!doctype html>
<html lang="en" ng-app="MotsDitsQuebec">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A layout example that shows off a responsive photo gallery.">

    <title>{% block title %}{% endblock %} | Mots Dits Quebec</title>

    <link href="/assets/css/pure.min.css" rel="stylesheet" media="screen">
    <link href="/assets/css/fontawesome.min.css" rel="stylesheet">
    <link href="/assets/css/application.min.css" rel="stylesheet" media="screen">

    {% block css %}{% endblock %}

  </head>

  <body>
    {% include "includes/header.html" %}

    {# Action bar: contains the main filters and actions #}
    <div id="actions">
      {% block actions %}
        {% include "includes/actionbar/login.html" %}
      {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>

    <!-- jQuery + plugins (only for angular bindings to jquery modules) -->
    <script src="/assets/js/thirdparty/jquery/jquery.js"></script>
    <script src="/assets/js/thirdparty/jquery-bridget/jquery.bridget.js"></script>

    <!-- Masonry -->
    <script src="/assets/js/thirdparty/get-style-property/get-style-property.js"></script>
    <script src="/assets/js/thirdparty/get-size/get-size.js"></script>
    <script src="/assets/js/thirdparty/eventEmitter/EventEmitter.js"></script>
    <script src="/assets/js/thirdparty/eventie/eventie.js"></script>
    <script src="/assets/js/thirdparty/doc-ready/doc-ready.js"></script>
    <script src="/assets/js/thirdparty/matches-selector/matches-selector.js"></script>
    <script src="/assets/js/thirdparty/outlayer/item.js"></script>
    <script src="/assets/js/thirdparty/outlayer/outlayer.js"></script>
    <script src="/assets/js/thirdparty/masonry/masonry.js"></script>

    <!-- Angular + plugins -->
    <script src="/assets/js/thirdparty/angular/angular.min.js"></script>
    <script src="/assets/js/thirdparty/angular-cookies/angular-cookies.min.js"></script>
    <script src="/assets/js/thirdparty/angular-masonry/angular-masonry.js"></script>

    <!-- Initialize the main controller -->
    <script src="/assets/js/motsdits.js"></script>

    {% block ctrl %}{% endblock %}
  </body>
</html>
