{% extends "base.html" %}

{% block content %}
  {% verbatim %}
    <div class="row">
      <div class="span12">
        <h1>These are some categories</h1>
        <div ng-controller="ExampleCtrl">
          <span>{{ numCategories() }} found in the database</span>
          <ul>
            <li ng-repeat="category in categories">
              <span class="active-{{ category.active }}">{{ "category.name" | ng }}</span>
            </li>
          </ul>
        </div>
      </div> <!-- /span12 -->
    </div> <!-- /row -->

    <div class="row">
      <div class="span12">
        <h1>These are some motsdits</h1>
        <div ng-controller="MotsDitsCtrl">
          <span>{{ "countMotsDits()" | ng }} found in the database</span>
          <ul>
            <li ng-repeat="motdit in motsdits">
              <span>{{ "motdit.mot" | ng }}</span>
            </li>
          </ul>
        </div>
      </div> <!-- /span12 -->
    </div> <!-- /row -->
  {% endverbatim %}
{% endblock %}

{% block controllers %}
  <!-- Angular controllers -->
  <script src="/assets/js/example.js"></script>
  <script src="/assets/js/motsdits.js"></script>
{% endblock %}
