{% extends "base.html" %}

{% block title %}{{ motdit.name }}{% endblock %}

{% block css %}
  <link href="/assets/css/grid.min.css" rel="stylesheet" media="screen">
{% endblock %}

{% block ctrl %}
  <script type="text/javascript" src="/assets/js/controllers/grid.js"></script>
{% endblock %}

{% block content %}
  {#% verbatim %#}

    <div id="grid" ng-controller="{% block controller_name %}GridCtrl{% endblock %}" masonry>
      {% for name, image in mots %}
        <div class="grid-item masonry-brick" ng-repeat="mot in motsdits">
          <div class="motdit">
            <div class="overlay">
              <div class="star">
                <div class="circle {{ mot.category.color }}"><i class="icon icon-star"></i></div>
              </div>
              <span class="counter {{ mot.category.color }}-text">{{ mot.recommendations.length }}</span>
              <span class="dot">&middot;</span>
              <span class="name">{{ mot.name }}</span>
            </div>
            <a href="#">
              <img src="/assets/img/samples/{{ image }}" alt="{{ mot.name }}">
            </a>
          </div>
        </div>
      {% endfor %}

      {# Sample date marker #}
      <div class="grid-item grid-date masonry-brick">
        <div class="date">
          <div class="fade">Dimanche</div>
          <div>3</div>
          <div>Novembre</div>
          <div class="fade">2013</div>
        </div>
      </div>

      {# Sample activity data #}
      <div class="grid-item grid-activity masonry-brick">
        <div class="motdit">
          <div class="overlay">
            <div class="bridge"></div>
            <div class="star">
              <div class="circle yellow"><i class="icon icon-star"></i></div>
            </div>
            <span class="counter yellow">1234</span>
            <span class="dot">&middot;</span>
            <span class="name">Downtown Again</span>
          </div>
          <a href="#">
            <img src="/assets/img/samples/downtown-montreal.jpg" alt="downtown">
          </a>
        </div>
        <div class="caption">
          <div class="connector">
            <div class="dot yellow"></div>
          </div>
          <div class="description">
            <div class="description-text">Photo aimee par:</div>
            <div class="user">mrawesome</div>
          </div>
          <div class="action">
            <i class="icon icon-heart"></i>
          </div>
        </div>
      </div>

      {# Sample text data #}
      <div class="grid-item grid-text masonry-brick">
        <div class="quote">
          <div class="overlay">
            <div class="bridge"></div>
            <div class="star">
              <div class="circle yellow"><i class="icon icon-star"></i></div>
            </div>
            <span class="counter yellow">0</span>
            <span class="dot">&middot;</span>
            <span class="name">Some Mot-dit</span>
          </div>
          <blockquote>
            This is a sample quote excerpt from stephen young talking about the most fantastic mot-dit you never knew about. It can go on and on, so if I were you, I'd strap in for a nice long reading session. We need to decide if we show everything, or if we cut it off.
          </blockquote>
          {# Watermark it with the quote symbol #}
          <div class="watermark">&ldquo;</div>
        </div>
        <div class="caption">
          <div class="connector">
            <div class="dot yellow"></div>
          </div>
          <div class="description">
            <div class="description-text">Nouvelle critique par:</div>
            <div class="user">hownowstephen</div>
          </div>
          <div class="action">
            <i class="icon icon-thumbs-down"></i>
            <i class="icon icon-thumbs-up"></i>
          </div>
        </div>
      </div>

    </div>

  {#% endverbatim %#}

{% endblock %}
