{% extends "base.html" %}

{% block css %}
  <link href="/assets/css/grid.min.css" rel="stylesheet" media="screen">
{% endblock %}

{% block ctrl %}
  <script type="text/javascript" src="/assets/js/homepage.js"></script>
{% endblock %}


{% block content %}
  <div id="grid" ng-controller="HomepageCtrl" masonry
    class="ng-cloak" ng-cloak
    infinite-scroll="load_more()" infinite-scroll-disabled='busy' infinite-scroll-distance='1'
  >
    <div class="grid-item masonry-brick" ng-repeat="mot in motsdits">
      {% include "includes/grid/motdit.html" %}
    </div>
  </div>
{% endblock %}
