{% extends "base.html" %}

{% block title %}{{ motdit.name }}{% endblock %}

{% block css %}
  <link href="/assets/css/motdit.min.css" rel="stylesheet" media="screen">
  <link href="/assets/css/form-modal.min.css" rel="stylesheet" media="screen">
  <link href="/assets/css/thirdparty/modal.css" rel="stylesheet" media="screen">
{% endblock %}

{% block ctrl %}
  <script type="text/javascript" src="/assets/js/controllers/motdit.js"></script>
  <script type="text/javascript" src="/assets/js/controllers/modals/opinion.js"></script>
  <script type="text/javascript" src="/assets/js/controllers/modals/photo.js"></script>
  <script type="text/javascript" src="/assets/js/thirdparty/modal.js"></script>
{% endblock %}

{% block content %}

  <div id="motdit" ng-controller="MotDitCtrl" class="ng-cloak" ng-cloak>
    <div class="column lhs">
      <div class="mot">
        {% include "includes/motdit-full.html" %}
      </div>
    </div>
    <div class="column rhs">
      <div class="related">
        <div class="mots-grid" masonry>
          <div class="grid-item masonry-brick" ng-repeat="item in related">
            {% include "includes/grid/motdit.html" %}
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

