*.pyc
.DS_Store

# These are generated with LESS (+ duplicated as minified versions)
design/assets/css/application.css
design/assets/css/application.min.css
design/assets/css/login.css
design/assets/css/login.min.css
design/assets/css/motdit.css
design/assets/css/motdit.min.css
design/assets/css/grid.css
design/assets/css/grid.min.css
