/* Colors */
@body-color: #efefef;
@theme-color: #14132f;

// Accent colors
@accent-green: #56bd91;
@accent-yellow: #ebb833;
@accent-red: #e91c2e;

// Bright red
.accent-red { background: @accent-red; color: white; }
.accent-red-border { border-color: @accent-red; }
.accent-red-text { color: @accent-red; }
// Bright yellow
.accent-yellow { background: @accent-yellow; color: white; }
.accent-yellow-border { border-color: @accent-yellow !important; }
.accent-yellow-text { color: @accent-yellow; }

// Link colors
@link-hover: #aeaeae;
@menu-hover: #d0d0d3;

@grey-inactive: #aba7a7;
@grey-faded: #d0d2d3;

/* Box Sizes */
@header-height: 50px;
@header-width: 476px;
@actions-height: 36px;
@middle-width: 80px;

/* Font Sizes */
@actions-font-size: 14px;

// Filter bar
@arrow-height: 10px;


/* Login Page specific variables */
 @form-item-width: 300px;
 @middle-width: 50px;

@fill-space: 97.5%;


@import "colors.less";
