{% verbatim %}
  <div class="photo">

    <!-- Add content overlay -->
    <div class="overlay add">
      Ajouter
      &nbsp;
      <a href="#modal-text" class="call-modal" title="Clicking this link shows the modal">
        <i class="icon icon-pencil"></i>
      </a>

      <i class="icon icon-camera"></i>
    </div>

    <!-- Like button -->
    <div class="overlay heart"><i class="icon icon-heart"></i></div>

    <!-- Actions overlay -->
    <div class="overlay actions">
      <div class="star">
        <div class="circle yellow"><i class="icon icon-star"></i></div>
      </div>
      <div class="connector"></div>
      <span class="counter yellow">{{ motdit.recommendations.length }}</span>
      <span class="dot">&middot;</span>
      <span class="name" ng-show="motdit.name">{{ motdit.name }}</span>
      <i class="icon icon-map-marker">
        <span class="tooltip">Location<span class="caret"></span></span>
      </i>
      <i class="icon icon-link">
        <span class="tooltip">Site-Web<span class="caret"></span></span>
      </i>
      <i class="icon icon-share-alt">
        <span class="tooltip">Partager<span class="caret"></span></span>
      </i>
      <i class="icon icon-bookmark">
        <span class="tooltip">Sauver<span class="caret"></span></span>
      </i>
    </div>

    <!-- And the image! -->
    <img ng-src="{{ motdit.top_photo.s3_url }}" alt="{{ motdit.name }}" />

  </div>

  <!-- Reviews -->
  <div class="content">
    <div class="header">
      <a href="#">Tags</a><span class="dot">&middot;</span><a class="selected" href="#">Critiques</a>
    </div>
    <div id="reviews">
      <div class="review" ng-repeat="review in reviews">
        <table>
          <tr>
            <td class="user">
              <div class="profile-image">
                <img src="{{ review.created_by.gravatar }}" alt="{{ review.created_by.username }}" />
              </div>
            </td>
          <td>
            <div class="reviewbody">
              <div class="username">{{ review.created_by.username }}</div>
              <div class="text">
                {{ review.text }}
              </div>
            </div>
          </td>
          <td class="thumbs">
            <i class="icon icon-thumbs-up"></i>
            <i class="icon icon-thumbs-down"></i>
          </td></tr>
        </table>
      </div>
    </div>
  </div>


      <section class="semantic-content" id="modal-text" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true">
          <div class="modal-inner">
                  <header><h2 id="modal-label">Sample</h2></header>

                  <div class="modal-content">
                          <p>FORM GOES HERE.</p>
                  </div>
          </div>

          <!-- Use Hash-Bang to maintain scroll position when closing modal -->
          <a href="#!" class="modal-close" title="Close this modal"
                            data-dismiss="modal">&times;</a>
      </section>
{% endverbatim %}
