  <div class="photo">


    {% if user.is_authenticated %}
      <!-- Add content overlay -->
      <div class="overlay add">
        Ajouter
        &nbsp;
        <a href="#" title="Ajouter un avis" ng-click="toggleModal('review')">
          <i class="icon icon-pencil"></i>
        </a>
        <a href="#" title="Ajouter un photo" ng-click="toggleModal('photo')">
          <i class="icon icon-camera"></i>
        </a>
      </div>

      <!-- Like button -->
      <div class="overlay heart">
        <i class="icon icon-heart" ng-class="{'liked': motdit && motdit.top_photo.user_likes}" ng-click="like_photo(motdit.top_photo)">
      </i></div>
    {% endif %}

    {% verbatim %}
      <!-- Actions overlay -->
      <div class="overlay actions">
        <div class="star">
          <div class="circle yellow"><i class="icon icon-star" ng-click="recommend()"></i></div>
        </div>
        <div class="connector"></div>
        <span class="counter yellow">{{ motdit.recommendations }}</span>
        <span class="dot">&middot;</span>
        <span class="name" ng-show="motdit.name">{{ motdit.name }}</span>
        <i class="icon icon-map-marker">
          <span class="tooltip">Location<span class="caret"></span></span>
        </i>
        <i class="icon icon-link">
          <span class="tooltip">Site-Web<span class="caret"></span></span>
        </i>
        <i class="icon icon-share-alt">
          <span class="tooltip">Partager<span class="caret"></span></span>
        </i>
        <i class="icon icon-bookmark">
          <span class="tooltip">Sauver<span class="caret"></span></span>
        </i>
      </div>
    

    <!-- And the image! -->
    <img ng-src="{{ motdit.top_photo.s3_url }}" alt="{{ motdit.name }}" />

    {% endverbatim %}
  </div>

{% verbatim %}
  <!-- Reviews and Tags -->
  <div class="content">
    <div class="header">
      <a href="#" ng-click="content_view = 'tags';" ng-class="{'selected': content_view == 'tags'}">Tags</a>
      <span class="dot">&middot;</span>
      <a ng-click="content_view = 'reviews';" href="#" ng-class="{'selected': content_view == 'reviews'}">Critiques</a>
    </div>
    <!-- Choose content type to display -->
    <div ng-switch on="content_view">
      <!-- Display reviews -->
      <div id="reviews" ng-switch-when="reviews">
        <div class="review" ng-repeat="review in reviews">
          <table>
            <tr>
              <td class="user">
                <div class="profile-image">
                  <img ng-src="{{ review.created_by.gravatar }}" alt="{{ review.created_by.username }}" />
                </div>
              </td>
            <td>
              <div class="reviewbody">
                <div class="username">{{ review.created_by.username }}</div>
                <div class="text">
                  {{ review.text }}
                </div>
              </div>
            </td>
            <td class="thumbs">
              <i class="icon icon-thumbs-up" ng-class="{'voted': review.user_vote == true}" ng-click="vote(review, true);"></i>
              <i class="icon icon-thumbs-down" ng-class="{'voted': review.user_vote == false}" ng-click="vote(review, false);"></i>
            </td></tr>
          </table>
        </div>
      </div>
      <!-- Display Tags -->
      <div id="tags" ng-switch-when="tags">
        <word-cloud words="motdit.tags" type='cloud'>
          <word>{{ word.word }}</word>
        </word-cloud>
      </div>
    </div>
  </div>
{% endverbatim %}

<div ng-show="modals.review">{% include "forms/opinion-modal.html" %}</div>
<div ng-show="modals.photo">{% include "forms/photo-modal.html" %}</div>
