<div class="filters">
  <div class="profile">
      <img src="/assets/img/profile-sample.jpg">
  </div>
  <div class="filter yellow">
    Toutes Categories

    <i class="icon icon-angle-down"></i>
    <ul class="menu">
      <li>Menu Item</li>
    </ul>
    <div class="arrow"></div>
  </div>
  <div class="filter green">
    Some Filter
    <span class="close">×</span>
    <div class="arrow"></div>
  </div>
  <div class="filter red">
    <i class="icon icon-map-marker"></i>
    <span class="close">×</span>
  </div>
  <input type="text" name="search-box" class="red">
</div>
