{% verbatim %}
  <div class="filters ng-cloak" ng-controller="FilterCtrl" ng-cloak>

    <!-- Special by-user filter -->
    <div class="profile" ng-hide="userfilter == null">
        <img ng-src="{{ userfilter.gravatar }}">
        <span class="close">×</span>
    </div>

    <!-- Primary filter -->
    <div class="filter red">
      <span class="name">{{ active_category.name }}</span>

      <i class="icon icon-angle-down show-menu"></i>
      <ul id="category-menu" class="menu">
        <li ng-repeat="category in categories">
          <a href ng-click="showCategory(category);">{{ category.name }}</a>
        </li>
      </ul>
      <div class="arrow"></div>
    </div>

    <!--  Subfilters -->

    <!-- Type subfilter -->
    <div class="filter" ng-hide="!type_subfilters">
      <span class="name">Type:</span>
      <span class="datalist"></span>
      <i class="icon icon-angle-down show-menu"></i>
      <ul id="type-menu" class="menu">
        <li ng-repeat="subfilter in type_subfilters">
          <a href ng-click="addSubfilter(subfilter);">{{ subfilter.name }}</a>
        </li>
      </ul>
      <div class="arrow"></div>
    </div>

    <!-- Time subfilter -->
    <div class="filter" ng-hide="!time_subfilters">
      <span class="name">Quand:</span>
      <span class="datalist"></span>
      <i class="icon icon-angle-down show-menu"></i>
      <ul id="type-menu" class="menu">
        <li ng-repeat="subfilter in time_subfilters">
          <a href ng-click="addSubfilter(subfilter);">{{ subfilter.name }}</a>
        </li>
      </ul>
      <div class="arrow"></div>
    </div>

    <!--div class="filter yellow">
      <span class="name">Schwartz</span>

      <i class="icon icon-angle-down show-menu"></i>

      <div class="arrow"></div>
    </div-->

    <!--div class="filter green" ng-hide="subfilter == null">
      <span class="name">Some Filter</span>
      <span class="close">×</span>
      <div class="arrow"></div>
    </div-->
    <!--div class="filter red">
      <i class="icon icon-map-marker"></i>
      <span class="close">×</span>
    </div-->
    <!--input type="text" name="search-box" class="red"-->
  </div>
{% endverbatim %}
