{% verbatim %}
  <div class="filters ng-cloak" ng-controller="FilterCtrl" ng-cloak>

    <!-- Special by-user filter -->
    <div class="profile" ng-hide="userfilter == null">
        <img ng-src="{{ userfilter.gravatar }}">
        <span class="close">×</span>
    </div>

    <!-- Primary filter -->
    <div class="filter red">
      <span class="name">{{ active_category.name }}</span>

      <i class="icon icon-angle-down show-menu"></i>

      <div class="menu-container" ng-hide="hide_menus">
        <div class="right-align">
          <div class="arrow-up"></div>
        </div>
        <ul id="category-menu" class="menu">
          <li ng-repeat="category in categories">
            <a href ng-click="showCategory(category);">{{ category.name }}</a>
          </li>
        </ul>
      </div>
      <div class="arrow"></div>
    </div>

    <!--  Subfilters -->
    <div class="filter" ng-repeat="subfilter_group in available_subfilters">
      <span class="name">{{subfilter_group.name}}:</span>
      <span class="datalist">{{ active_subfilters[subfilter_group.name].name }}</span>
      <i class="icon icon-angle-down show-menu"></i>
      <div class="menu-container" ng-hide="hide_menus">
        <div class="right-align">
          <div class="arrow-up"></div>
        </div>
        <ul id="type-menu" class="menu">
          <li ng-repeat="subfilter in subfilter_group.subfilters">
            <a href ng-click="setSubfilter(subfilter_group.name, subfilter);">{{ subfilter.name }}</a>
          </li>
        </ul>
      </div>
      <div class="arrow"></div>
    </div>

    <div class="subfilter green" ng-repeat="subfilter in active_subfilters">
      <span class="name">{{ subfilter.name }}</span>
      <span class="close" ng-click="clearSubfilter(subfilter);">×</span>
    </div>

    <div class="filter yellow" ng-show="active_motdit">
      <span class="name">{{ active_motdit.name }}</span>

      <i class="icon icon-angle-down show-menu"></i>
      <span class="close" ng-click="closeMotdit();">×</span>
    </div>
    <!--div class="filter red">
      <i class="icon icon-map-marker"></i>
      <span class="close">×</span>
    </div-->
    <!--input type="text" name="search-box" class="red"-->

    <div class="ordering">
      <i class="icon icon-calendar" ng-class="{active: ordering == '-created'}" ng-click="setOrdering('-created');"></i>
      <i class="icon icon-star" ng-class="{active: ordering == '-recommendations'}" ng-click="setOrdering('-recommendations');"></i>
      <span class="dot">&middot;</span>
      <a href="#" ng-class="{active: mon_reseau}">Mon Reseau</a>
      <a href="#" ng-class="{active: !mon_reseau}">Tout</a>
    </div>

  </div>
{% endverbatim %}
