/**
 * Mots-dits Quebec Application CSS
 * @author Stephen Young (me@hownowstephen.com)
 * @requires pure.min.css (http://purecss.io/)
 *
 */

/* --------------------------------------------------
    Includes (vars and mixins)
   -------------------------------------------------- */

@import "includes/vars.less";
@import "includes/mixins.less";

/* Third-party */
@import "thirdparty/elements.less";
@import "thirdparty/angular.less";

/* --------------------------------------------------
    Default styling
   -------------------------------------------------- */

body { background: @body-color; font-family:"PT Sans", "Montserrat", Helvetica, Arial, sans-serif; }

/* --------------------------------------------------
    Common usage classes
   -------------------------------------------------- */
.right { float: right; }
.left { float: left; }
.text-right { text-align: right; }
.text-left { text-align: left; }
.arrow-up {
    width: 0; height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
}


/* --------------------------------------------------
    Header theme
    @TODO: Make responsive across smaller screens
   -------------------------------------------------- */
#header {
    background: @theme-color; height: @header-height;
    padding:5px 0px;
    .logo {
        img { height:@header-height; width:auto; }
        text-align:center; margin:0px auto; width: @header-width;
        .text { 
            color:white;
            height:@header-height;
            line-height:@header-height;
            text-align:center;
            i { margin-right:0.5em; display:inline-block; font-size:1.2em; }
        }
    }
}

/* -------------------------------------------------- 
    Account Menu
   -------------------------------------------------- */

#account-hover #account-menu-dropdown { display:none; }
#account-hover:hover #account-menu-dropdown { display: block; }

#account-menu {
    .action-text();
    z-index:10000;
    position:absolute; top:0px; right:0px;
    background:white;
    padding:5px @actions-font-size;

    a { .reset-a(); }
}

#account-menu-dropdown {
    .action-text();
    .drop-shadow(0, 1px, 2px, 0.6);
    position: absolute; top:2em; right:5px;
    .arrow {
        overflow:auto;
        .arrow-up { margin-right:5px; float: right; }
    }
    ul {
        .reset-ul();

        li {
            width:150px;
            background:white;
            list-style:none;
            padding:5px;
            text-align: left;
            a { .reset-a(); display:block; width:100%; height:100%;}
        }
        li:hover { background:@menu-hover; color:white; }
    }
    hr { margin:0px; padding:0px; border-color: @theme-color; background:white; border-top:0px; }
}

/* -------------------------------------------------- 
    Action bar themes
   -------------------------------------------------- */
#actions {
    background: white; height: @actions-height; margin-top:1px;

    /* Login actions theme */
    .login {
        .action-text();
        a { width:120px; display:inline-block; color: @theme-color; text-decoration: none; }
        a:hover { color: @link-hover; }
        a.selected { color: @link-hover; }
        i { display:inline-block; width:@middle-width; font-size:1.5em; text-align:center; }
    }

    /* Filter actions */
    .filters {
        font-size:13px; text-transform: uppercase;

        // User profile image
        .profile {
            width: @actions-height; height: @actions-height;
            float:left; padding:0px 5px;
            img {
                border-radius:50%; border: 2px solid @theme-color;
                width: @actions-height - 6px; height: @actions-height - 6px; 
                margin-top: 1px;
            }
        }

        .filter {
            float:left;
            position:relative;
            height:@actions-height - 2px;
            line-height:@actions-height - 2px;
            padding-left:@actions-height / 2 + 5px;
            padding-right:5px;
            .arrow { 
                width: 0; height: 0; 
                border-left: @actions-height / 2 solid white;
                border-top: @actions-height / 2 solid transparent;
                border-bottom: @actions-height / 2 solid transparent;
                position:absolute; top:-1px; right:-@actions-height / 2;
                display:inline-block; z-index:100;
            }

            .show-menu:hover~.menu, .menu:hover { display:block; }
            i { display:inline-block; margin:0px 3px; font-weight: bold; cursor:pointer; font-size: 18px; height:@actions-height - 4px}
            .close { display:inline-block; margin-left:3px; font-size:18px; cursor:pointer; }
            // Dropdown menus
            .menu {
                .reset-ul();
                z-index: 10000;
                display:none; position:absolute; right:0px;
                li { padding:2px 6px; text-align:center; white-space: nowrap; }
                li a { color: inherit; text-decoration: none; text-transform: uppercase; }
            }
        }

        // Input boxes
        input { 
            padding:0px 5px; margin:0px;
            height: @actions-height - 4px; border: 2px solid; display:inline-block; margin-right:-6px; font-size: @actions-height / 2;
        }

        // Clean up spacing on first filter
        .filter:first-child { padding-left: @actions-height / 2 - 5px; }

        // Set up filter colors

        // Yellow filters
        .filter.yellow {
            .menu { background: @accent-yellow; color:white; }
            background: @accent-yellow; color:white;
            .arrow { border-left-color: @accent-yellow;  }
            border:1px solid lighten(@accent-yellow, 10%);
        }
        input.yellow { border-color: @accent-yellow; }

        // Green filters
        .filter.green {
            .menu { background: @accent-green; color:white; }
            background: @accent-green; color:white;
            .arrow { border-left-color: @accent-green;  }
            border:1px solid lighten(@accent-green, 10%);
        }
        input.green { border-color: @accent-green; }

        // Red filters
        .filter.red {
            .menu { background: @accent-red; color:white; }
            background: @accent-red; color:white;
            .arrow { border-left-color: @accent-red;  }
            border:1px solid lighten(@accent-red, 10%);
        }
        input.red { border-color: @accent-red; }

        div.filter:last-of-type .arrow { display:none; }
    }

}
