<div id="account-hover">
  <div id="account-menu">
    <a href="#">Mon Compte</a>
  </div>

  <div id="account-menu-dropdown">
    <div class="arrow">
      <div class="arrow-up"></div>
    </div>
    <ul>
      <li><a href="/feed/">Mon Guide</a></li>
      <li><a href="#" class="disabled">Mes Favoris</a></li>
      <li><a href="#" class="disabled">Mes amis</a></li>
    </ul>
    <hr>
    {% if user.is_superuser %}
      <ul>
        <li><a href="/admin/">Admin</a></li>
        <li><a href="/api/v1/">API Root</a></li>
      </ul>
      <hr>
    {% endif %}
    <ul>
      <li><a href="/feed/?edit=true">Editer mon profil</a></li>
      <li><a href="/logout/">Deconnexion</a></li>
    </ul>
  </div>
</div>
