{# @TODO: investigate ng-switch #}

{% verbatim %}

<!-- Motdit format -->
<div ng-hide="item.type != 'MotDit'">
  <div class="motdit">
    <div class="overlay">
      <div class="star">
        <div class="circle {{ item.motdit.category.color }}"><i class="icon icon-star"></i></div>
      </div>
      <span class="counter {{ item.motdit.category.color }}-text">{{ item.motdit.recommendations }}</span>
      <span class="dot">&middot;</span>
      <span class="name">{{ item.motdit.name }}</span>
    </div>
    <a href="/mot/{{ item.motdit.slug }}">
      <img ng-src="{{ item.motdit.top_photo.s3_url }}" alt="{{ item.content_object.name }}">
    </a>
  </div>
  <div class="caption">
    <div class="connector">
      <div class="dot {{ item.motdit.category.color }}"></div>
    </div>
    <div class="description">
      <div class="description-text">{{ item.message }}</div>
      <div class="user">{{ item.created_by.username }}</div>
    </div>
    <div class="action">
      <i class="icon {{ item.icon }}"></i>
    </div>
  </div>
</div>

<!-- Photo format -->
<div ng-hide="item.type != 'Photo'">
  <div class="motdit">
    <div class="overlay">
      <div class="star">
        <div class="circle {{ item.motdit.category.color }}"><i class="icon icon-star"></i></div>
      </div>
      <span class="counter {{ item.motdit.category.color }}-text">{{ item.motdit.recommendations }}</span>
      <span class="dot">&middot;</span>
      <span class="name">{{ item.motdit.name }}</span>
    </div>
    <a href="/mot/{{ item.motdit.slug }}">
      <img ng-src="{{ item.photo.s3_url }}" alt="{{ item.content_object.name }}">
    </a>
  </div>
  <div class="caption">
    <div class="connector">
      <div class="dot {{ item.motdit.category.color }}"></div>
    </div>
    <div class="description">
      <div class="description-text">{{ item.message }}</div>
      <div class="user">{{ item.created_by.username }}</div>
    </div>
    <div class="action">
      <i class="icon {{ item.icon }}"></i>
    </div>
  </div>
</div>

<!-- Date format -->
<div class="grid-date" ng-hide="item.type != 'DateMarker'">
  <div class="date">
    <div class="fade">{{ item.day }}</div>
    <div>{{ item.date }}</div>
    <div>{{ item.month }}</div>
    <div class="fade">{{ item.year }}</div>
  </div>
</div>

<!-- Opinion format -->
<div class="grid-text" ng-hide="item.type != 'Opinion'">
  <div class="quote">
    <div class="overlay">
      <div class="bridge"></div>
      <div class="star">
        <div class="circle {{ item.motdit.category.color }}"><i class="icon icon-star"></i></div>
      </div>
      <span class="counter {{ item.motdit.category.color }}-text">{{ item.motdit.recommendations }}</span>
      <span class="dot">&middot;</span>
      <span class="name">
        <a href="/mot/{{ item.motdit.slug }}">
          {{ item.motdit.name }}
        </span>
      </a>
    </div>
    <a href="/mot/{{ item.motdit.slug }}">
      <blockquote>
        {{ item.opinion.text }}
      </blockquote>
      <div class="watermark">&ldquo;</div>
    </a>
  </div>
  <div class="caption">
    <div class="connector">
      <div class="dot {{ item.content_object.motdit.category.color }}"></div>
    </div>
    <div class="description">
      <div class="description-text">{{ item.message }}</div>
      <div class="user">{{ item.created_by.username }}</div>
    </div>
    <div class="action">
      <i class="icon {{ item.icon }}"></i>
      <!--i class="icon icon-thumbs-up"></i-->
    </div>
  </div>
</div>

{% endverbatim %}
