{% load angularjs %}
<!doctype html>
<html ng-app>
  <head>
    <link rel="stylesheet" href="todo.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>

    <div class="container">
      <div class="row">
        <div class="span12">
          <h1>These are some categories</h1>
          <div ng-controller="ExampleCtrl">
            <span>{{ "numCategories()" | ng }} found in the database</span>
            <ul>
              <li ng-repeat="category in categories">
                <span class="active-{{category.active}}">{{ "category.name" | ng }}</span>
              </li>
            </ul>
          </div>
        </div> <!-- /span12 -->
      </div> <!-- /row -->

      <div class="row">
        <div class="span12">
          <h1>These are some motsdits</h1>
          <div ng-controller="MotsDitsCtrl">
            <span>{{ "countMotsDits()" | ng }} found in the database</span>
            <ul>
              <li ng-repeat="motdit in motsdits">
                <span>{{ "motdit.mot" | ng }}</span>
              </li>
            </ul>
          </div>
        </div> <!-- /span12 -->
      </div> <!-- /row -->

    </div> <!-- /content -->

    <!-- Third party libraries -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.1.5/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>

    <!-- Angular controllers -->
    <script src="/assets/js/example.js"></script>
    <script src="/assets/js/motsdits.js"></script>

  </body>
</html>
